@import "~tailwindcss/dist/tailwind.css";

$rich-black: rgba(4, 1, 15, 1);
$dark-gunmetal: rgba(31, 29, 40, 1);
$russian-violet: rgba(47, 25, 95, 1);
$deep-green-cyan-turquoise: rgba(19, 111, 99, 1);
$tiffany-blue: rgba(23, 190, 187, 1);
$rusty-red: #DA2C38;

$dark-orchid: #7F2CCB;
$vivid-raspberry: #F61067;
$medium-spring-green: #00F0B5;

$font-sizes: 12px, 14px, 16px, 18px, 20px, 24px, 30px, 36px, 48px, 60px, 72px;


$primary: $tiffany-blue;
$secondary: $dark-orchid;
$body-bg: #160A3F;
$body-color: #AEB6BE;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

.sr-only {
	position:    absolute;
	width:       1px;
	height:      1px;
	padding:     0;
	overflow:    hidden;
	clip:        rect(0, 0, 0, 0);
	white-space: nowrap;
	border:      0;
}

.text-reset {
	font-style:      normal;
	font-weight:     normal;
	letter-spacing:  normal;
	line-break:      auto;
	text-align:      left; // Fallback for where `start` is not supported
	text-align:      start;
	text-decoration: none;
	text-shadow:     none;
	text-transform:  none;
	white-space:     normal;
	word-break:      normal;
	word-spacing:    normal;
	word-wrap:       normal;
	color:           inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}


body {
	background:      radial-gradient($body-bg, scale_color($body-bg, $lightness: -30%)), $body-bg;
	background-size: cover;
}


iframe {
	background:    white;
	border:        none;
	border-radius: 4px;
}


//--------------------------------------------------------------------

$track-base-color: $body-color;
$track-color: linear-gradient(45deg, $track-base-color, rgba($track-base-color, .0));
$thumb-color: $track-base-color;
$thumb-border-color: transparent;

$track-height: 6px;
$thumb-size: 20px;

@mixin track() {
	box-sizing: border-box;
	border:     none;
	width:      100%;
	height:     $track-height;
	background: $track-color;
}

@mixin thumb() {
	box-sizing:    border-box;
	width:         $thumb-size;
	height:        $thumb-size;
	border-radius: 50%;
	border:        $track-height solid $thumb-border-color;
	background:    $thumb-color;
}

[type='range'] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none
	}
	
	flex:       1;
	margin:     0;
	padding:    0;
	min-height: $thumb-size;
	background: transparent;
	font:       inherit;
	cursor:     pointer;
	opacity:    .6;
	
	&::-webkit-slider-runnable-track {
		@include track()
	}
	&::-moz-range-track { @include track }
	&::-ms-track { @include track }
	
	&::-webkit-slider-thumb {
		margin-top: .5*($track-height - $thumb-size);
		@include thumb
	}
	&::-moz-range-thumb { @include thumb }
	&::-ms-thumb {
		margin-top: 0;
		@include thumb
	}
	
	&::-ms-tooltip { display: none }
	
	&:focus {
		box-shadow: none;
		outline:    none;
		&::-webkit-slider-thumb {
			background: lighten($track-base-color, 10);
			transform:  scale(1.1);
			//box-shadow: 0 0 0 5px rgba(white, .2);
		}
		&::-moz-range-thumb {
			background: lighten($track-base-color, 10);
			transform:  scale(1.1);
			//box-shadow: 0 0 0 5px rgba(white, .2);
		}
		&::-ms-thumb {
			background: lighten($track-base-color, 10);
			transform:  scale(1.1);
			//box-shadow: 0 0 0 5px rgba(white, .2);
		}
	}
	
}

@keyframes wave {
	0% {
		box-shadow: 0 0 0 rgba($primary, .7);
	}
	100% {
		box-shadow: 0 0 0 10px rgba($primary, 0);
	}
}

.Checkpoint {
	
	&.active {
		animation: 2s cubic-bezier(0.07, 0.51, 0.58, 0.99) wave infinite;
	}
}

@keyframes loader {
	
	0% {
		width: 0;
	}
	
	100% {
		width: 100%;
	}
	
}

.Loader {
	
	&-progress {
		display:                   block;
		width:                     100%;
		position:                  absolute;
		top:                       0;
		left:                      0;
		height:                    100%;
		background:                $primary;
		animation-name:            loader;
		animation-timing-function: ease-out;
		animation-duration:        5s;
		animation-iteration-count: infinite;
	}
	
	position:   fixed;
	top:        0;
	left:       0;
	height:     4px;
	width:      100%;
	//opacity:    0;
	transition: .5s opacity;
	background: rgba(white, .2);
}