$rich-black: rgba(4, 1, 15, 1);
$dark-gunmetal: rgba(31, 29, 40, 1);
$russian-violet: rgba(47, 25, 95, 1);
$deep-green-cyan-turquoise: rgba(19, 111, 99, 1);
$tiffany-blue: rgba(23, 190, 187, 1);
$rusty-red: #DA2C38;

$dark-orchid: #7F2CCB;
$vivid-raspberry: #F61067;
$medium-spring-green: #00F0B5;

$font-sizes: 12px, 14px, 16px, 18px, 20px, 24px, 30px, 36px, 48px, 60px, 72px;
$slates: #01111b, mix(#10212d, #0C1B27, 60), #15232f;
//$slates: #01111b, #E1E9EE, #15232f;

//$slates: #0F0F0F, #2D2D2D; // grayscale
//$slates: $rich-black, $dark-gunmetal; // purpled

$primary: $tiffany-blue;
$secondary: $dark-orchid;
$border-radius: 4px;
$body-bg: nth($slates, 1);
$body-color: #AEB6BE;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem;
$headings-margin-bottom: 0;
$spacer: 16px;
$spacers: ();
$spacers: map-merge(
				          (
						          1: 4px,
						          2: 8px,
						          3: 12px,
						          4: 16px,
						          5: 24px,
						          6: 32px,
						          7: 48px,
						          8: 64px,
						          9: 96px,
						          10: 128px,
						          11: 192px,
						          12: 256px,
						          13: 384px,
						          14: 512px,
						          15: 640px
				          ),
				          $spacers
          );

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/utilities";

//$shadow1: 0 1px 3px hsla(0, 0%, .12), 0 1px 2px hsla(0, 0%, .24);
//$shadow2: 0 3px 6px hsla(0, 0%, .15), 0 2px 3px hsla(0, 0%, .12);
//$shadow3: 0 10px 20px hsla(0, 0%, .15), 0 3px 6px hsla(0, 0%, .10);
//$shadow4: 0 15px 25px hsla(0, 0%, .15), 0 1px 3px hsla(0, 0%, .5);
//$shadow5: 0 20px 40px hsla(0, 0%, .12);

h1,
h2,
h3,
h4,
h5,
h6 {
	margin:      0;
	line-height: 1;
}

p {
	margin: 0;
}

html {
	--primary: #22dac0;
	--muted:   #ced7df;
}

// Font size helpers
@for $i from 1 through length($font-sizes) {
	$size: nth($font-sizes, $i);
	._fz-#{$i} {
		font-size: $size !important;
	}
}

// Slates colors
@for $i from 1 through length($slates) {
	$color: nth($slates, $i);
	._slate-#{$i - 1} {
		background: $color !important;
	}
}

._cover {
	position: absolute;
	width:    100%;
	height:   100%;
	left:     0;
	top:      0;
}

._pen {
	pointer-events: none;
}

._rounded {
	border-radius: $border-radius;
}

._sharpen {
	border: 1px solid rgba(black, .1);
}

iframe {
	background:    white;
	border:        none;
	border-radius: 4px;
}

._lighted {
	$primary-lightened: lighten($primary, 10);
	$secondary-lightened: lighten($secondary, 10);
	color:      white;
	box-shadow: 0 0 0 1px rgba($primary-lightened, .2) inset,
	            0 0 30px rgba($primary-lightened, .5) inset,
	            0 0 5px rgba(black, .1),
	            0 2px 10px rgba(black, .3),
	            0 6px 20px rgba(black, .3);
	background: linear-gradient($primary-lightened, $secondary-lightened), $secondary;
}

._bg-fade-in {
	$bg: nth($slates, 1);
	background: linear-gradient(rgba($bg, 0), $bg 50%);
}

//--------------------------------------------------------------------
.fab {
	
	i {
		display:   block;
		color:     white;
		font-size: 40px;
	}
	
	border:        none;
	padding:       0;
	margin:        0 0 0 -33px;
	width:         66px;
	height:        66px;
	border-radius: 50px;
	cursor:        pointer;
	position:      fixed;
	left:          50vw;
	bottom:        70px;
}

$track-color: linear-gradient(45deg, $body-color, rgba(white, .0));
$thumb-color: $body-color;
$thumb-border-color: transparent;

$track-height: 6px;
$thumb-size: 20px;

@mixin track() {
	box-sizing: border-box;
	border:     none;
	width:      100%;
	height:     $track-height;
	background: $track-color;
}

@mixin thumb() {
	box-sizing:    border-box;
	width:         $thumb-size;
	height:        $thumb-size;
	border-radius: 50%;
	border:        $track-height solid $thumb-border-color;
	background:    $thumb-color;
}

[type='range'] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none
	}
	
	flex:       1;
	margin:     0;
	padding:    0;
	min-height: $thumb-size;
	background: transparent;
	font:       inherit;
	cursor:     pointer;
	
	&::-webkit-slider-runnable-track {
		@include track()
	}
	&::-moz-range-track { @include track }
	&::-ms-track { @include track }
	
	&::-webkit-slider-thumb {
		margin-top: .5*($track-height - $thumb-size);
		@include thumb
	}
	&::-moz-range-thumb { @include thumb }
	&::-ms-thumb {
		margin-top: 0;
		@include thumb
	}
	
	&::-ms-tooltip { display: none }
	
	&:focus {
		box-shadow: none;
		outline: none;
		&::-webkit-slider-thumb {
			background: lighten($body-color, 10);
			transform: scale(1.1);
			//box-shadow: 0 0 0 5px rgba(white, .2);
		}
		&::-moz-range-thumb {
			background: lighten($body-color, 10);
			transform: scale(1.1);
			//box-shadow: 0 0 0 5px rgba(white, .2);
		}
		&::-ms-thumb {
			background: lighten($body-color, 10);
			transform: scale(1.1);
			//box-shadow: 0 0 0 5px rgba(white, .2);
		}
	}
	
}